*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --light: #ffffff;
    --dark: #000000;
}


.mt-5 {
    margin-top: 1rem;
}

.text-sltate-50 {
    color: rgb(107, 107, 107);
    font-weight: 200;
}

.text-2xl {
    font-size: 22px;
}

.line-height {
    line-height: 22px;
}
.btn {
    width: 100%;
    padding: 8px;
    outline: none;
    border: none;
}

.btn:hover {
    background-color: #dbdbdbfb;
}


.navigation {
    height: auto;
    width: 100vw;
    background-color: var(--light);
    box-shadow: 0 2px 5px rgba(117, 117, 117, 0.231);
    position: sticky;
    top: 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.navigation > .collaspe {
    display: none;
}

.navigation > .collaspe > ul > li {
    display: inline-block;
}

.navigation > .collaspe > ul > li > a { 
    display: inline-block;
    padding: 15px 20px;
    font-size: 18px;
    color: var(--dark);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
}
.navigation > .collaspe > ul > li > a:hover {
    background-color: rgba(0, 0, 0, 0.295);
}


.navigation > .navbar-brand > a {
    display: inline-block;
    padding: 15px 20px;
    font-size: 18px;
    color: var(--dark);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
}

.container {
    position: relative;
}

.container > .thumbnail {
    width: 100vw;
}

.container > .text-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 35px;
    color: white;
    letter-spacing: 3.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: translate(-50%, -50%) ;
}

.text-banner > b {
    background-color: #00000088;
    padding: 5px 10px;
}

.text-banner > span { 
    display: none;
}


.container {
    width: 95vw;
    margin: 0 auto;
}

.container > .thumbnail {
    width: 100%;
}

.section-1, .section-2 {
    width: 85vw;
    margin: 40px auto;
}

.section-1 > h2, .section-2 > h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 0.2px solid rgb(226, 226, 226);
}

.section-1 > .main-content, .section-2 > .main-content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.section-2 > p {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.main-content > .content {
    position: relative;
    flex: 1 1 100%;
}

.section-2 > .main-content {
    margin-top: 50px;
}

.content img {
    width: 100%;
}

.content > .status {
    padding: 10px 15px;
    background-color: black;
    position: absolute;
    width: fit-content;
    top: 0;
    left: 0;
    color: white;
    font-size: 16px;
}


@media (min-width: 600px) {
    .main-content > .content {
        flex: 1 1 calc(50% - 20px);
    }

    .section-1, .section-2 {
        width: 90vw;
    }
}

@media (min-width: 630px) {
    .navigation > .collaspe {
        display: block;
    }

    .text-banner > span {
        display: inline-block;
    }
}

@media (min-width: 995px) {
    .section-1, .section-2 {
        width: 95vw;
    }
    .main-content > .content {
        flex: 1 1 calc(25% - 20px);
    }
}

